.top_banner {
  background-color: white;
}

div {
  font-family: oneFont;
}

.banner {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 60px;
}

.bannerBtns_left {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.bannerBtns_right {
  padding: 20px;
  padding-left: 67%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .bannerBtns_right {
    padding: 20px;
    padding-left: 35%;
  }
}

.bannerBtn {
  padding: 20px;
}

.bannerTitle {
  font-style: none;
  font-family: oneFont;
  font-size: 14px;
}

.mid_banner {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(170, 161, 161);
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.bannerLogo {
  height: 4rem;
  width: 4rem;
}

.gym {
  float: left;
  width: 30%;
  /* height: 300px; */
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 30px;
  clear: both;
}
.about_hl {
  width: 100%;
}

.container_text {
  margin-top: 100px;
  font-size: x-large;
  font-family: "oneFontTitle";
}

.banner_logo {
  width: 40rem;
  height: 130px;
  margin-top: 30px;
}

.banner_all {
  width: 80%;
  height: 25rem;
  margin: 100px;
}

.container_text {
  margin-top: 100px;
  font-size: x-large;
  font-family: "oneFontTitle";
}

.banner_logo {
  width: 40rem;
  margin-top: 30px;
}

.logo_meaning {
  width: 40%;
  margin-top: 80px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.logo_meaning2 {
  width: 40%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.logos {
  display: flex;
  justify-content: center;
}
