.Aids{
 background-color: #ffff;
    padding-left: 15%;
    padding-top:100px;
    width:100%;
    height:1150px;
  display:flex;
  flex-direction: column;
  
  }
  
  .rap_head{
    height:250px;
    width:100%;
    display:flex;
    flex-direction: column;
  }
  .rap_header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
  }

  .rap_hr{
    margin-top: 30px;
    margin-bottom: 30px;
    height:8px;
    background-color:#B98EFF;

  margin-left: 180px;
  margin-right: 180px;

  }
  
  .rap_header>h1{
    font-family: "oneFontTitle";
  }
  .rap_head>ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 20px;

  }
.rap_head>ul{
  margin-left:25px;
}
.line{
  font-family: "oneFont";
}
.line::after{
  content:"|";
  color:rgba(209, 206, 215, 0.958);
      font-size:17px;
      padding:17px;
  
  }
  .rap_select{
    margin-right:40px;
   display: flex;
   justify-content:flex-end;
  }
  .Rap_main{
    background-image: url(../img/showingpage.png);
    display:flex;
    box-sizing: border-box;
    width:100%;
    flex-wrap: wrap;
  }
  .rap_next{
   
    display:flex;
    justify-content: center;
  }