.Productsmanouter{
   
    padding-left: 16%;
    padding-top:100px;
    background-image: url("../img/showingpage.png");
    width:100%;
    height:2500px;
  display:flex;
  flex-direction: column;
  
  }