.main_best1{
    min-width:282px;
    margin:20px;
  
  }
  .main_text1>h2{
    font-family: "oneFontTitle";
    margin-top: 20px;
  }
  .main_img1{
    width:250px;
    height:310px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 5px 5px 5px 5px gray;
  }
