.shopping_main{
   background-color: #ffff;
    padding-left: 15%;
    padding-top:100px;
    background-image: url("../img/showingpage.png");
    width:100%;
    height:1000px;
  display:flex;
  flex-direction: column;
  
  }

  .shopping_1{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    height:1400px;
  }
  
  .main_1{
    margin:19px;
    width: 22%;
    height: 400px;
    
   
  }
  .main1_img{
    height:350px;
    width: 100%;
    background-size:cover; 
   
  }

  .main1_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }