.Products{
  
  overflow-y:scroll;
 
  height:760px;
  background-image: url("../img/showingpage.png");
}
.Products::-webkit-scrollbar{
  width: 20px;
}
.Products::-webkit-scrollbar-thumb{
  background-color: #cfd3da;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.Products::-webkit-scrollbar-track{
  background-color: #ffff;
}

.s_logo{
  display:flex;
  flex-direction: row;
width:10%;
justify-content: space-between;
align-items: center;
}
.Sheader1{
  box-sizing: border-box;
width:100%;
position:fixed;
display:flex;
height: 60px;
align-items: flex-end;
justify-content: flex-end;
}
.Sheader{
 
  box-sizing: border-box;
    display:flex;
      background-color: white;
      height:60px;
      width:100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    
    .s_input{
      width:50%;
      display:flex;
      justify-content: center;
    }
    
    .s_input>input{
      background-color: white;
      height:30px;
      width:400px;
    
      border-right: 0px;
      border-top: 0px;
      border-left: 0px;
    }
    .s_input>button{
      background-color: white;
      height:30px;
      border:0px;
      
    
    }
    
    
    .s_logo>a>img{
      display:flex;
      justify-content: space-between;
      
    height:60px;
    
    }
    .s_login{
      display:flex;
      flex-direction: row;
      align-items: center;
      width:20%;
      justify-content: space-around;
    }
   
    .s{
      background-color: #ffff;
      padding:0;
      margin:0;
      width: 100%;
      height: 1400px;
      position: relative;
      transition: 0.1s;
      }
      .h{
        padding:0;
      margin:0;
      width: 100%;
      height: 0px;
      position: relative;
      left: -250px;
      transition: 0.1s;
      }

      .s1{
        font-family: "oneFontTitle";
        color:#ffff;
        font-size: 23px;
        margin-bottom: 8px;
        display:flex;
        background-color: #6140A0;
        justify-content: space-around;
        align-items: center;
      
      
      }

    .aside_menu{
   top:60px;
    width:15%;
    height:1400px;
    background-color: white;
    margin:0px;
    position:fixed;
   
    }
    .s_logo{
      font-family: "oneFontTitle";
    }
   
    .main_main{
      font-family: "oneFontTitle";
      color:#ffff;
      font-size: 25px;
      margin-top: 0px;
      display:flex;
      background-color: #6140A0;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid black;
     border-bottom: 1px solid black;
    
    }
    .main_button{
      background-color: #ffff;
      border:0px;
    }


    .main_man{
      font-family: "oneFontTitle";
      background-color: #B98EFF;
      margin-top: 0px;
      color:#ffff;
      display:flex;
      justify-content: space-around;
      align-items: center;
     
    
    }
   


    li{
      list-style: none;
      font-family: "oneFont";
    }
    .show-menu{
      background-color: #ffff;
      padding:0;
      margin:0;
      width: 100%;
      height: 130px;
      position: relative;
      transition: 0.1s;
      }
      .show-menu1:hover{
        background-color: #e5c7fb;
      }
     
      
      .hide-menu{
        padding:0;
      margin:0;
      width: 100%;
      height: 0px;
      position: relative;
      left: -250px;
      transition: 0.1s;
      }
    
    
    
    .main_woman{
      font-family: "oneFontTitle";
      background-color: #B98EFF;
      margin-top: 0px;
      color:#ffff;
      display:flex;
      justify-content: space-around;
      align-items: center;
    
    }
  
    .show{
      background-color: #ffff;
      padding:0;
      margin:0;
      width: 100%;
      height: 160px;
      position: relative;
      left: 0px;
      transition: 0.1s;
      
      }
      .show1:hover{
        background-color: #e5c7fb;
      }
     
      .hide{
        opacity: 0;
        padding:0;
      margin:0;
      width: 100%;
      height: 0px;
      position: relative;
      left: -150px;
      transition: 0.1s;
      }
    
      .main_aids{
        font-family: "oneFontTitle";
        background-color: #B98EFF;
        margin-top: 0px;
        color:#ffff;
        display:flex;
        justify-content: space-around;
        align-items: center;
      
      }
      .sho{
        background-color: #ffff;
        padding:0;
        margin:0;
        width: 100%;
        height: 110px;
        position: relative;
        left: 0px;
        transition: 0.1s;
        
        }
        .sho1:hover{
          background-color: #e5c7fb;
        }
     
      
        .hid{
          opacity: 0;
          padding:0;
        margin:0;
        width: 100%;
        height: 0px;
        position: relative;
        left: -150px;
        transition: 0.1s;
        }

        
    .main_gym{
      font-family: "oneFontTitle";
      background-color: #B98EFF;
      margin-top: 0px;
      color:#ffff;
      display:flex;
      justify-content: space-around;
      align-items: center;
    
    }
    .gym_button{
      background-color: white;
      border:0px;
    }
  
    
    .aside_menu>div>div{
      margin:5px;
      padding-left: 10px;
    }
    

    
   
    