.Cmain{
    width:100%;
    height:760px;
 display:flex;
 justify-content: center;   
 background-image: url("../img/backpage.jpg");
 background-size: cover;
 background-attachment: fixed;
 overflow:scroll;
}
.cmain_ab{
    box-sizing: border-box;
    height:320px;
    width:100%;
    padding:20px;
   
}
.cmain_a{
    height:100%;
    width:100%;
    background-size: cover;
    background-image:url(../img/ad_3.jpg);
}
.cmain_main{
 
 width:70%;
 height:1210px;
 background-color: #FFFF;

}

.cmain_button{
    
    display:flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 50px;

}

.cmain_bt{
    
    box-shadow: 2px 2px 2px 2px gray;
    background-color:#FFFF;
    color:#B98EFF;
    border:none;
    border-radius: 5px;
    display:flex;
    font-family: "oneFontTitle";
    font-size: small;
    height:30px;
    width:70px;
    align-items: center;
    justify-content: center;
}
.cmain_bt:hover{
    transition-duration: .5s;
    background-color:#7e2eff;
}
.crud_map{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}
.cmain_next{
    display:flex;
    justify-content: center;
}