.content{
    height:760px;
    overflow-y:scroll;
}
.content_title{
    display:flex;
    width:70%;
    height:120px;
    background-color: azure;
    align-items: center;
}
.content_title_pic{
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkgray;
    width:80px;
    height:80px;
    border-radius: 50px;
}
.content_title_title{
    font-weight: 800;
    font-size: large;
}
.content_title_name{
    font-size: small;
}

.content_content{
   padding:30px;
    width:70%;
    height:400px;
   

}
.content_body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content_read{
    padding:20px;
    width:100%;
    height:200px;
    background-color: rgba(221, 178, 255, 0.4);
    border-radius: 15px 15px 0px 0px;
display:flex;

}
.content_form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.content_button{
    height:40px;
    width:100px;

    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
}
.content_textarea{
    height:70%;
    width:800px;
    border-radius: 10px;
}
.content_read_pic{
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkgray;
    width:80px;
    height:80px;
    border-radius: 50px;
}
.content_writer{
    padding:20px;
    display:flex;
    margin-top: 5px;
    width:100%;
    height:200px;
    background-color:  rgba(221, 178, 255, 0.4);

}
.content_writer_pic{
    margin-left: 50px;
margin-right: 50px;
background-color: darkgray;
width:80px;
height:80px;
border-radius: 50px;
}
.content_writer_name{
    font-weight: 800;
}
.content_writer_content{
    font-size: large;
}
.content_writer_time{
    font-size: small;
}