.banner {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.inputForm {
  background-color: white;
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 1px solid #000;
}
