.Community {
  background-color: #ffff;
  width: 100%;
  height: 100%;
}
.c_header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.c_left {
  width: 180px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.c_logo {
  margin-left: 20px;
  width: 120px;
  height: 100px;
}
.c_center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 700px;
}

.c_center1 {
  font-size: 30;
  font-family: "oneFontTitle";
}

.c_input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
}
.c_button {
  border: none;
  background-color: #ffff;
}
