.react-calendar {
  width: 80%;
  background-color: #fff;
  color: black;
  border-radius: 6px;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
}

/* 2023년 3월 부분 */
.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  margin-top: 1rem;
  border: none;
}

.react-calendar__navigation button[disabled] {
  background-color: white;
}

/* 요일 써진 부분 */
abbr[title] {
  text-decoration: none;
}

/* 날짜 hover했을 때 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: #fffbd4;
  border-radius: 6px;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background: #fffbd4;
  border-radius: 6px;
  font-weight: bold;
  color: black;
}

/* 오늘 날짜 hover 했을 때 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 6px;
  font-weight: bold;
}

/* monthly에서 hover */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #fffbd4;
}

.react-calendar__tile--active {
  background: black;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}