.Community{

    width:100%;
    height:1500px;
}
.c_header{
    padding-left: 100px;
    padding-right: 100px;
    height:100px;
    background-color: #ffff;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.c_headerleft{
    box-sizing: border-box;
height:120px;
display:flex;
align-items: center;
justify-content:center;
    width:150px;
}
.c_headerlogo{
    width:100%;
    height:100%;
}
.c_headercenter{
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.c_headercenter>div{
    width:25%;
}

.c_headerright{
    display:flex;
}
.c_headerinput{
    border-top: none;
    border-left: none;
    border-right: none;
}
.c_headerbutton{
    border:none;
    background-color: #ffff;
}

.c_main{
    

}