

.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  height:1000px;
}


.top_banner {
  background-color: white;
  height:750px;
  overflow-y: scroll;
  overflow-y: auto;
}

div {
  font-family: oneFont;
}

.banner {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.bannerBtn {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  width: fit-content;
  padding: 20px;
  margin: 3px;
  /* font-weight: bold; */
}
.bannerBtn>span{
  font-family: "oneFontTitle";
}
.bannerTitle {
  font-style: none;
  font-family: "oneFontTitle";
}

.mid_banner {
  width: 100%;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(170, 161, 161);
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.bannerLogo {
  height: 4.5rem;
  width: 4.5rem;
}

.gym {
  float: left;
  width: 30rem;
  height: 300px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 30px;
  /* display: inline-block; */
  clear: both;
}

.container_text {
  margin-top: 100px;
  font-size: x-large;
  font-family: "oneFontTitle";
}

.banner_logo {
  width: 40rem;
  margin-top: 30px;
}

.banner_all {
  width: 80%;
  height: 25rem;
  margin: 100px;
}
