.bannerLogo {
  margin-right: 30px;
  margin-left: 30px;
}

div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.banner {
  /* position: absolute;
  right: 0; */
}
