.TodoList {
  padding: 0;
}

.TodoList li {
  background-color: white;
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style: none;
}

.TodoList li span {
  margin-right: 25px;
  cursor: pointer;
}

.TodoList li.on span {
  color: black;
}

.TodoList li em {
  cursor: pointer;
}

.TodoList li.on em {
  color: black;
  text-decoration: line-through rgb(159, 127, 231);
}

.TodoList li button {
  float: right;
  color: rgb(175, 169, 169);
}